<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        Message pusher app
    </div>
    <div class="gridshit">
        <% data.forEach(message=> { %>
            <div class="each">
                <div class="head">
                    <%= message.user %>
                </div>
                <div class="splitor"></div>
                <div>
                    <div class="msg">
                        <%= message.text %>
                    </div>
                    <div class="date">
                        <%= message.createdAt %>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>